<launch>
	<node pkg="master_discovery_fkie" type="master_discovery" name="master_discovery" output="screen">
		<param name="mcast_group" value="224.0.0.1"/>
		<!-- <rosparam param="robot_hosts">[R_005, R_006]</rosparam> -->
	</node>
	<node pkg="master_sync_fkie" type="master_sync" name="master_sync" output="screen"/>

	<node pkg="snu_idim_xmanager" type="amr_initializer.py" name="amr_initializer" ns="R_001" output="screen"/>
	<node pkg="snu_idim_xmanager" type="snu_joy.py" name="snu_joystick_controller" ns="R_001" output="screen"/>
	<include file="$(find snu_idim_amr)/launch/display.launch"/>
		

	<node pkg="snu_idim_slicer" type="AutoSlicer.py" name="AutoSlicer" output="screen"/>
	
	<!-- <node pkg="snu_idim_device_manager" type="DeviceManager.py" name="DeviceManager" output="screen"/> -->

</launch>
