<launch>
  <arg name="ns" value=""/>

  <include file="$(find snu_doosan)/launch/realsense_setup.launch.xml"/>

  <include file="$(find snu_doosan)/launch/ar_tracker_single.launch.xml"/>
  <!--<include file="$(find snu_doosan)/launch/ar_tracker_bundles.launch.xml"/>-->

  <!--<include file="$(find snu_doosan)/launch/find_object_3d.launch.xml"/>-->

</launch>