<?xml version="1.0"?>
<launch>
    <arg name="ns" value="R_001"/>

    <!--<node pkg="snu_doosan" type="snu_demo.py" name="snu_dsr_demo" ns="$(arg ns)" output='screen'/>
    <node pkg="snu_doosan" type="ar_tracker.py" name="ar_tracker" ns="$(arg ns)" output='screen'/>-->

    <node pkg="snu_doosan" type="doosan_joy_controller.py" name="joy_controller" ns="$(arg ns)" output='screen'/>
    <node pkg="snu_doosan" type="snu_gripper.py" name="snu_gripper" ns="$(arg ns)" output='screen'/>
    




    <!--<include file="$(find snu_doosan)/launch/realsense_setup.launch.xml" ns="$(arg ns)"/>

    <include file="$(find snu_doosan)/launch/ar_tracker_alvar.launch.xml" ns="$(arg ns)"/>-->



    <!--<node name="Pub_client" pkg="rospy_websocker_client" type="ROSClient_Publisher.py" ns='R_001' output="screen"/>-->
</launch>

