<?xml version="1.0"?>
<launch>
    <arg name="ns" value="R_001"/>
    <arg name="prefix_ns" value="R_001/dsr"/>
    <!--<include file="$(find snu_doosan)/launch/ar_tracker_single.launch.xml" ns="$(arg ns)"/>-->
    <!--<node pkg="snu_doosan" type="snu_dsr_joy.py" name="joy_controller" ns="$(arg ns)" output='screen'/>-->
    <node pkg="snu_doosan" type="snu_drl_interface.py" name="snu_dsr_interface" ns="$(arg ns)" output='screen'/>
    <!--<node pkg="tf" type="static_transform_publisher" name="link62camera_link"   args="-0.118 0.020 -0.032 0 -1.572 0 link6 camera_link 10" />-->
    <node pkg="snu_doosan" type="snu_vision_2d.py" name="snu_2d_vision" ns="$(arg ns)" output='screen'/>
        <node pkg="snu_doosan" type="snu_object_tracker.py" name="snu_object_tracker" ns="$(arg ns)" output='screen'>
        <param name="reference_frame"       value="base_0"/>
        <param name="object_frame"          value="ar_marker_0"/>
        <param name="target_frame"          value="ar_target_0"/>
        <param name="end_effector_frame"    value="link6"/>
        <param name="offset_from_target/x"  value="0.0"/>
        <param name="offset_from_target/y"  value="0.0"/>
        <param name="offset_from_target/z"  value="0.20"/>
        <param name="offset_from_target/rx" value="180.0"/>
        <param name="offset_from_target/ry" value="0.0"/>
        <param name="offset_from_target/rz" value="90.0"/>
    </node>
    <!--<node pkg="snu_doosan" type="snu_dsr_digital_io_controller.py" name="snu_dsr_digital_io_controller" ns="$(arg ns)" output='screen'/>-->
    <!--<include file="$(find snu_doosan)/launch/dsr_description_m1013.launch.xml" ns="$(arg ns)"/>-->
</launch>